# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*cmake-build-*
*.idea
**build**
ch9/final.ply
ch9/initial.ply
ch10/result.g2o
ch10/result_lie.g2o


# ch 12
test_data
remode_test_data.zip
